@model Automarket.Domain.ViewModels.Account.RegisterViewModel

<form id="ConfirmForm" asp-controller="Account" asp-action="Confirm">
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="@Model.Name" class="col-form-label"></label>
            <input asp-for="@Model.Name" type="text" class="form-control" value="@Model.Name" />
            <input asp-for="@Model.Password" type="text" hidden class="form-control" value="@Model.Password" />
            <input asp-for="@Model.PasswordConfirm" hidden type="text" class="form-control" value="@Model.PasswordConfirm" />
            <input asp-for="@Model.SendedCode" hidden type="text" class="form-control" value="@Model.SendedCode" />

        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.VerifyCode" class="col-form-label"></label>
            <input type="text" class="form-control" asp-for="@Model.VerifyCode" />
        </div>
        <button type="submit">Подтвердить</button>
    </div>
</form>